.imageElement {
    border-radius: 30px
}

.searchBarContainer {
    flex-grow: 4;
    width: 900px;
}

.carouselGaleryThumbs {
    display: none;
}

.carouselContainer {
    justify-content: center;
}

.carouselGaleryCursor {
    margin: 0;
    justify-content: center;
}

.swiper-pagination-bullets {
    bottom: 0;
}